<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include('../common_pages/head') %>
    <link href="/lightbox2/css/lightbox.css" rel="stylesheet" />
    <script src="/lightbox2/js/lightbox-plus-jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <body>
        <style>
            ul.about-list1 {
                display: block;
            }
        </style>
        <!--********************************
    Code Start From Here
    ******************************** -->
        <%- include('../common_pages/header') %>
            <!--==============================
      Hero area Start
    ==============================-->
            <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcumb-bg.jpg">
                <div class="container z-index-common">
                    <div class="breadcumb-content">
                        <h1 class="breadcumb-title"><%= category.title %> Photos</h1>

                        <div class="breadcumb-menu-wrap">
                            <ul class="breadcumb-menu">
                                <li><a href="/">Home</a></li>
                                <li>Gallery </li>
                                <li><a href="/photos">Photos</a></li>
                                <li><%= category.title %>  Photos</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--==============================
      Hero Area End
    ==============================-->
            <!--==============================
    About Area Start
    ==============================-->

            <section>
                <h2 style="text-align: center;">
                    <%= category.title.toUpperCase() %> Gallery
                </h2>

                <div class="container">
                    <div class="row">
                        <% images.forEach((image, index)=> { %>
                            <div class="col-md-4 mb-4 text-center">
                                <a href="/uploads/<%= image.image_path %>" data-lightbox="roadtrip">
                                    <img src="/uploads/<%= image.image_path %>" alt="<%= image.caption || '' %>"
                                        style="width: 100%; height: auto;">
                                </a>
                            </div>
                            <% }) %>
                    </div>
                </div>

                <!-- Pagination -->
                <div class="d-flex justify-content-center mt-4">
                    <ul class="pagination">

                        <!-- Prev -->
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link"
                                href="/gallery/<%= category.slug %>?page=<%= currentPage - 1 %>">Previous</a>
                        </li>

                        <% for (let i=1; i <=totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="/gallery/<%= category.slug %>?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                            <% } %>

                                <!-- Next -->
                                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                                    <a class="page-link"
                                        href="/gallery/<%= category.slug %>?page=<%= currentPage + 1 %>">Next</a>
                                </li>

                    </ul>
                </div>
            </section>


            <%- include('../common_pages/footer') %>

                <!-- Scroll To Top -->
                <a href="#" class="scrollToTop scroll-btn"><i class="fas fa-arrow-up"></i>
                </a>
                <!-- ==============================
    All Js File
    ================================ -->
                <!-- Jquery -->
                <script src="/js/vendor/jquery-3.6.0.min.js"></script>
                <!-- Slick Slider -->
                <script src="/js/slick.min.js"></script>
                <!-- Bootstrap -->
                <script src="/js/bootstrap.min.js"></script>
                <!-- Magnific Popup -->
                <script src="/js/jquery.magnific-popup.min.js"></script>
                <!-- jquery Ui -->
                <script src="/js/jquery-ui.min.js"></script>
                <!-- Circle Progress -->
                <script src="/js/circle-progress.min.js"></script>
                <!-- isotope -->
                <script src="/js/imagesLoaded.js"></script>
                <script src="/js/isotope.js"></script>
                <!-- Wow.js -->
                <script src="/js/wow.min.js"></script>  
                <!-- Main Js File -->
                <script src="/js/main.js"></script>
                <script src="/lightbox2/src/js/lightbox.js"></script>
    </body>

</html>